In [1]:
%pip install numpy
%pip install pandas
%pip install matplotlib
%pip insall seaborn

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.26.4)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
ERROR: unknown command "insall" - maybe you meant "install"
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np 
import pandas  as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
sale_df = pd.read_csv("sales_data.csv")

In [4]:
sale_df

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[369 rows x 6 columns]

In [5]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     367 non-null    float64
 4   quantity  368 non-null    float64
 5   revenue   368 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [6]:
sale_df["price"].isnull().sum()

2

In [7]:
sale_df["price"][sale_df["price"].isnull()]

193   NaN
320   NaN
Name: price, dtype: float64

In [8]:
sale_df["price"][sale_df["price"].isnull()]  = sale_df["revenue"] / sale_df["quantity"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_5997/3792142110.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  sale_df["price"][sale_df["price"].isnull()]  = sale_df["revenue"] / sale_df["quantity"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_5997/3792142110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df["price"][sale_df["price"].isnull()]  = sale_df["revenue"] / sale_df["quantity"]

In [9]:
from warnings import filterwarnings
filterwarnings("ignore")

In [10]:
sale_df["quantity"][sale_df["quantity"].isnull()]  = sale_df["revenue"] / sale_df["price"]

In [11]:
sale_df["revenue"][sale_df["revenue"].isnull()]  = sale_df["price"] * sale_df["quantity"]

In [12]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    float64
 4   quantity  369 non-null    float64
 5   revenue   369 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [13]:
sale_df["price"] = sale_df["price"].astype("int64")
sale_df["quantity"] = sale_df["quantity"].astype("int64")
sale_df["revenue"] = sale_df["revenue"].astype("int64")

In [14]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    int64
 4   quantity  369 non-null    int64
 5   revenue   369 non-null    int64
dtypes: int64(3), object(3)
memory usage: 17.4+ KB

In [15]:
sale_df["date"] = pd.to_datetime(sale_df["date"])

In [16]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    datetime64[ns]
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    int64
 4   quantity  369 non-null    int64
 5   revenue   369 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 17.4+ KB

In [17]:
sale_df["month"] = sale_df["date"].dt.month
sale_df["year"] = sale_df["date"].dt.year
sale_df["dayInMonth"] = sale_df["date"].dt.day

In [18]:
sale_df

,date,product,category,price,quantity,revenue,month,year,dayInMonth
0,2022-01-01,Smartphone,Electronics,600,10,6000,1,2022,1
1,2022-01-01,Laptop,Electronics,1200,5,6000,1,2022,1
2,2022-01-02,T-Shirt,Clothing,20,50,1000,1,2022,2
3,2022-01-03,Headphones,Electronics,100,20,2000,1,2022,3
4,2022-01-04,T-Shirt,Clothing,20,25,500,1,2022,4
...,...,...,...,...,...,...,...,...,...
364,2022-12-27,Watch,Accessories,150,5,750,12,2022,27
365,2022-12-28,Coat,Clothing,100,5,500,12,2022,28
366,2022-12-29,Headphones,Electronics,100,10,1000,12,2022,29
367,2022-12-30,Smartphone,Electronics,600,11,6600,12,2022,30
368,2022-12-31,Hoodie,Clothing,40,30,1200,12,2022,31

In [19]:
sale_df.drop(["date"],inplace=True,axis=1)

In [20]:
sale_df

,product,category,price,quantity,revenue,month,year,dayInMonth
0,Smartphone,Electronics,600,10,6000,1,2022,1
1,Laptop,Electronics,1200,5,6000,1,2022,1
2,T-Shirt,Clothing,20,50,1000,1,2022,2
3,Headphones,Electronics,100,20,2000,1,2022,3
4,T-Shirt,Clothing,20,25,500,1,2022,4
...,...,...,...,...,...,...,...,...
364,Watch,Accessories,150,5,750,12,2022,27
365,Coat,Clothing,100,5,500,12,2022,28
366,Headphones,Electronics,100,10,1000,12,2022,29
367,Smartphone,Electronics,600,11,6600,12,2022,30
368,Hoodie,Clothing,40,30,1200,12,2022,31

In [21]:
sale_df["category"].unique()

array(['Electronics', 'Clothing', 'Accessories', 'Bags', 'Shoes',
       'Clohting', 'Bgas', 'Shoeses'], dtype=object)

In [22]:
sale_df["category"][sale_df["category"]=="Clohting"] = 'Clothing'
sale_df["category"][sale_df["category"]=="Bgas"] = 'Bags'
sale_df["category"][sale_df["category"]=="Shoeses"] = 'Shoes'

In [23]:
sale_df["category"].unique()

array(['Electronics', 'Clothing', 'Accessories', 'Bags', 'Shoes'],
      dtype=object)

In [24]:
sale_df["category"][sale_df["category"]=="Clothing"] = 1
sale_df["category"][sale_df["category"]=="Bags"] = 2
sale_df["category"][sale_df["category"]=="Electronics"] =3 
sale_df["category"][sale_df["category"]== "Accessories"] =4
sale_df["category"][sale_df["category"]== "Shoes"] = 5

In [25]:
sale_df

        product category  price  quantity  revenue  month  year  dayInMonth
0    Smartphone        3    600        10     6000      1  2022           1
1        Laptop        3   1200         5     6000      1  2022           1
2       T-Shirt        1     20        50     1000      1  2022           2
3    Headphones        3    100        20     2000      1  2022           3
4       T-Shirt        1     20        25      500      1  2022           4
..          ...      ...    ...       ...      ...    ...   ...         ...
364       Watch        4    150         5      750     12  2022          27
365        Coat        1    100         5      500     12  2022          28
366  Headphones        3    100        10     1000     12  2022          29
367  Smartphone        3    600        11     6600     12  2022          30
368      Hoodie        1     40        30     1200     12  2022          31

[369 rows x 8 columns]

In [26]:
sale_df["product"].unique()

array(['Smartphone', 'Laptop', 'T-Shirt', 'Headphones', 'Watch', 'Tablet',
       'Coat', 'Smartwatch', 'Speaker', 'Backpack', 'Hoodie', 'Sneakers',
       'Wallet', 'Jeans'], dtype=object)

In [27]:
prod_list=['Smartphone', 'Laptop', 'T-Shirt', 'Headphones', 'Watch', 'Tablet',
       'Coat', 'Smartwatch', 'Speaker', 'Backpack', 'Hoodie', 'Sneakers',
       'Wallet', 'Jeans']
emd_list =[]
for i in range(1,len(prod_list)+1):
    emd_list.append([prod_list[i-1],i])

In [28]:
emd_list

[['Smartphone', 1],
 ['Laptop', 2],
 ['T-Shirt', 3],
 ['Headphones', 4],
 ['Watch', 5],
 ['Tablet', 6],
 ['Coat', 7],
 ['Smartwatch', 8],
 ['Speaker', 9],
 ['Backpack', 10],
 ['Hoodie', 11],
 ['Sneakers', 12],
 ['Wallet', 13],
 ['Jeans', 14]]

In [29]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [30]:
from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder()
onehot.fit_transform(emd_list)

<14x28 sparse matrix of type '<class 'numpy.float64'>'
	with 28 stored elements in Compressed Sparse Row format>

In [31]:
for i in range(1,len(prod_list)+1):
    sale_df["product"][sale_df["product"]==prod_list[i-1]]=i

In [32]:
sale_df

    product category  price  quantity  revenue  month  year  dayInMonth
0         1        3    600        10     6000      1  2022           1
1         2        3   1200         5     6000      1  2022           1
2         3        1     20        50     1000      1  2022           2
3         4        3    100        20     2000      1  2022           3
4         3        1     20        25      500      1  2022           4
..      ...      ...    ...       ...      ...    ...   ...         ...
364       5        4    150         5      750     12  2022          27
365       7        1    100         5      500     12  2022          28
366       4        3    100        10     1000     12  2022          29
367       1        3    600        11     6600     12  2022          30
368      11        1     40        30     1200     12  2022          31

[369 rows x 8 columns]

In [33]:
X = sale_df.drop(["revenue"],axis=1)
Y = sale_df["revenue"]

In [34]:
X

    product category  price  quantity  month  year  dayInMonth
0         1        3    600        10      1  2022           1
1         2        3   1200         5      1  2022           1
2         3        1     20        50      1  2022           2
3         4        3    100        20      1  2022           3
4         3        1     20        25      1  2022           4
..      ...      ...    ...       ...    ...   ...         ...
364       5        4    150         5     12  2022          27
365       7        1    100         5     12  2022          28
366       4        3    100        10     12  2022          29
367       1        3    600        11     12  2022          30
368      11        1     40        30     12  2022          31

[369 rows x 7 columns]

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X,Y,test_size=0.3,random_state=43)

In [36]:
X_train

    product category  price  quantity  month  year  dayInMonth
65        8        4    200        12      3  2022           5
196      12        5     80         8      7  2022          14
253      14        1     50        25      9  2022           9
335       4        3    100        10     11  2022          28
11       10        2     50        20      1  2022          10
..      ...      ...    ...       ...    ...   ...         ...
277       1        3    600        10     10  2022           2
305       4        3    100        15     10  2022          30
255      11        1     40        15      9  2022          11
320      13        4     30        35     11  2022          13
324       9        3     80        20     11  2022          17

[258 rows x 7 columns]

In [37]:
X_test

    product category  price  quantity  month  year  dayInMonth
59        1        3    600         9      2  2022          27
332       1        3    600         9     11  2022          25
180       5        4    150        10      6  2022          28
297       1        3    600         7     10  2022          22
221       3        1     20        35      8  2022           8
..      ...      ...    ...       ...    ...   ...         ...
56        3        1     20        15      2  2022          24
214      11        1     40        30      8  2022           1
90        4        3    100        10      3  2022          30
199       1        3    600         6      7  2022          17
308       1        3    600        10     11  2022           2

[111 rows x 7 columns]

In [38]:
Y_train

65     2400
196     640
253    1250
335    1000
11     1000
       ...
277    6000
305    1500
255     600
320    1050
324    1600
Name: revenue, Length: 258, dtype: int64

In [39]:
Y_test

59     5400
332    5400
180    1500
297    4200
221     700
       ...
56      300
214    1200
90     1000
199    3600
308    6000
Name: revenue, Length: 111, dtype: int64

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
from sklearn.pipeline import make_pipeline
pipe = make_pipeline(StandardScaler(),RandomForestRegressor(random_state=43))
# RDMReg = RandomForestRegressor()
# RDMReg.fit(X_train,Y_train)
pipe.fit(X_train,Y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestregressor',
                 RandomForestRegressor(random_state=43))])

In [41]:
# pred = RDMReg.predict(X_test)
pred= pipe.predict(X_test)

In [42]:
from sklearn.metrics import mean_squared_error

In [43]:
mean_squared_error(Y_test,pred)

121612.89909909907

In [48]:
%pip install joblib

Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.4.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [49]:
from  joblib import dump,load

In [50]:
dump(pipe,"Sale.pkl")

['Sale.pkl']

In [51]:
model = load("Sale.pkl")

In [54]:

newData = pd.DataFrame({
    "product":[2],
    "category":[5],
    "price":[2000],
    "quantity":[100],
    "month":[5],
    "year":[2025],
    "dayInMonth":[4]
})

In [55]:
model.predict(newData)

array([4411.])